.grid {
  display: grid;
  gap: 1.3rem;
  padding: 2.4rem;
  border-radius: 10px;
  margin-top: 2.4rem;
  justify-content: center;
}

.grid--4x5 {
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 600px) {
  .grid {
    gap: 2.4rem;
  }
}
