main {
  width: 100%;
  height: 100vh;
}

.background-main-one {
  background-color: #3a4663;
}

.background-main-two {
  background-color: #e6e6e6;
}

.background-main-three {
  background-color: #17062a;
}

@media screen and (min-width: 480px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
