@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

/* Typography */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-spartan: "League Spartan", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--ff-spartan);
  font-weight: 700;
  font-size: 3.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
