@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

/* Typography */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Theme 1 */

  /* Backgrounds */
  --main-background-one: hsl(222, 26%, 31%);
  --keypad-background-one: hsl(223, 31%, 20%);
  --screen-background-one: hsl(224, 36%, 15%);

  /* Keys */

  --reset-del-button-background-one: hsl(225, 21%, 49%);
  --reset-del-button-shadow-one: hsl(224, 28%, 35%);

  --evaluate-button-one: hsl(6, 63%, 50%);
  --evaluate-shadow-one: hsl(6, 70%, 34%);

  --digit-key-background-one: hsl(30, 25%, 89%);
  --digit-key-shadow-one: hsl(28, 16%, 65%);

  /* Text */

  --key-text-one: hsl(221, 14%, 31%);
  --evaluate-reset-del-text-one: hsl(0, 0%, 100%);

  /* Theme 2 */

  /* Backgrounds */
  --main-background-two: hsl(0, 0%, 90%);
  --keypad-background-two: hsl(0, 5%, 81%);
  --screen-background-two: hsl(0, 0%, 93%);

  /* Keys */

  --reset-del-button-background-two: hsl(185, 42%, 37%);
  --reset-del-button-shadow-two: hsl(185, 58%, 25%);

  --evaluate-button-two: hsl(25, 98%, 40%);
  --evaluate-shadow-two: hsl(25, 99%, 27%);

  --digit-key-background-two: hsl(45, 7%, 89%);
  --digit-key-shadow-two: hsl(35, 11%, 61%);

  /* Text */

  --key-text-two: hsl(60, 10%, 19%);
  --evaluate-reset-del-text-two: hsl(0, 0%, 100%);

  /* Theme 3 */

  /* Backgrounds */
  --main-background-three: hsl(268, 75%, 9%);
  --keypad-background-three: hsl(268, 71%, 12%);
  --screen-background-three: hsl(268, 71%, 12%);

  /* Keys */

  --reset-del-button-background-three: hsl(281, 89%, 26%);
  --reset-del-button-shadow-three: hsl(285, 91%, 52%);

  --evaluate-button-three: hsl(176, 100%, 44%);
  --evaluate-shadow-three: hsl(177, 92%, 70%);

  --digit-key-background-three: hsl(268, 47%, 21%);
  --digit-key-shadow-three: hsl(290, 70%, 36%);

  /* Text */

  --key-text-three: hsl(52, 100%, 62%);
  --evaluate-reset-del-text-three: hsl(0, 0%, 100%);
  --evaluate-text-three: hsl(198, 20%, 13%);
  --reset-del-text-three: hsl(0, 0%, 100%);

  --ff-spartan: "League Spartan", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--ff-spartan);
  font-weight: 700;
  font-size: 3.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background Themes */
.main-background-one {
  background-color: var(--main-background-one);
}

.main-background-two {
  background-color: var(--main-background-two);
}

.main-background-three {
  background-color: var(--main-background-three);
}

/* Header Text Themes */
.header-text-one {
  color: #ffffff;
}
.header-text-two {
  color: #36362c;
}
.header-text-three {
  color: #ffe53d;
}

/* Display Themes */

.display-color-one {
  background-color: var(--screen-background-one);
}
.display-color-two {
  background-color: var(--screen-background-two);
}
.display-color-three {
  background-color: var(--screen-background-three);
}
.display-numbers-one {
  color: #ffffff;
}
.display-numbers-two {
  color: #36362c;
}
.display-numbers-three {
  color: #ffe53d;
}

/* Keyboard Themes */
.background-keyboard-one {
  background-color: var(--keypad-background-one);
}
.background-keyboard-two {
  background-color: var(--keypad-background-two);
}
.background-keyboard-three {
  background-color: var(--keypad-background-three);
}

/* Digit Buttons Themes */

.digit-theme-one {
  color: var(--key-text-one);
  background-color: var(--digit-key-background-one);
  box-shadow: inset 0px -4px 0px #b3a497;
}
.digit-theme-two {
  color: var(--key-text-two);
  background-color: var(--digit-key-background-two);
  box-shadow: inset 0px -4px 0px #a79e91;
}
.digit-theme-three {
  color: var(--key-text-three);
  background-color: var(--digit-key-background-three);
  box-shadow: inset 0px -4px 0px #881c9e;
}

/* Reset and DEL button Themes */
.reset-del-one {
  color: var(--evaluate-reset-del-text-one);
  background-color: var(--reset-del-button-background-one);
  box-shadow: inset 0px -4px 0px #414e73;
}
.reset-del-two {
  color: var(--evaluate-reset-del-text-two);
  background-color: var(--reset-del-button-background-two);
  box-shadow: inset 0px -4px 0px #1b6066;
}
.reset-del-three {
  color: var(--evaluate-reset-del-text-three);
  background-color: var(--reset-del-button-background-three);
  box-shadow: inset 0px -4px 0px #be15f4;
}

/* Evaluate Button Themes */
.evaluate-button-one {
  color: var(--evaluate-reset-del-text-one);
  background-color: var(--evaluate-button-one);
  box-shadow: inset 0px -4px 0px #93261a;
}
.evaluate-button-two {
  color: var(--evaluate-reset-del-text-two);
  background-color: var(--evaluate-button-two);
  box-shadow: inset 0px -4px 0px #93261a;
}
.evaluate-button-three {
  color: #1a2327;
  background-color: var(--evaluate-button-three);
  box-shadow: inset 0px -4px 0px #6cf9f1;
}

/* Active Buttons Styles */
.active-digit-one:active {
  background-color: #fffffe;
}
.active-digit-two:active {
  background-color: #ffffff;
}
.active-digit-three:active {
  background-color: #8631af;
}

.active-reset-del-one:active {
  background-color: #a2b2e1;
}
.active-reset-del-two:active {
  background-color: #62b5bc;
}
.active-reset-del-three:active {
  background-color: #8631af;
}

.evaluate-active-one:active {
  background-color: #f96b5b;
}
.evaluate-active-two:active {
  background-color: #ff8a38;
}
.evaluate-active-three:active {
  background-color: #93fff8;
}
