.btn {
  min-width: 6rem;
  height: 6.4rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-two {
  width: auto;
  grid-column: span 2;
}

.btn--text {
  font-size: 2rem;
  letter-spacing: -0.33px;
  text-transform: uppercase;
}

@media screen and (min-width: 490px) {
  .btn {
    min-width: 10.1rem;
    height: 6.4rem;
  }

  .span-two {
    width: 22.7rem;
  }
}
